#chat {
  height: 550px;
}

#chat .listview__item {
  padding: 8px 2.1rem;
}

#chat .listview__item p {
  margin: 0;
}

#chat .chat-notice {
  background-color: rgba(255,255,255,0.01);
}

#chat-actions {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0;
}

#chat-actions textarea {
  padding: 8px;
  overflow: hidden;
}

#chat-actions .btn {
  margin: 8px;
}
